* {
    margin: 0;
    padding: 0;
}


/* ПОДЛОЖКА ФОН */

main {
    max-width: 1024px;
    margin: auto;
    background-color: white;
    padding: 61px;
    counter-reset: count;
}


/* ШРИФТЫ РАЗМЕРЫ ЦВЕТА ТЕКСТА */

h2 {
    margin-bottom: 50px;
}

p,
h3,
li {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #263555;
}

h3 {
    font-weight: 500;
    font-size: 0.91rem;
    line-height: 1.267;
    margin-bottom: 15px;
}

p {
    font-size: 0.78rem;
    color: #4e5050;
    margin: 10px 0;
    line-height: 1.52;
    font-weight: 400;
}

.author {
    font-size: 0.91rem;
    font-weight: 500;
    color: rgb(38, 53, 85);
    line-height: 1.5;
    text-align: center;
}

.author-post {
    text-align: center;
}

.article-line {
    height: 1px;
    background-color: #dedbdb;
    background-clip: content-box;
    margin: 50px 0;
}


/* ------ ВЕРСТКА БЛОКА PROFILE -------- */

img {
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}

article {
    vertical-align: top;
    display: inline-block;
}

aside {
    vertical-align: top;
    display: inline-block;
}

.round-number h3,
.round-number p {
    margin-left: 45px;
}

.round-number li {
    counter-increment: count;
    margin-bottom: 20px;
}

.round-number>li::before {
    content: counter(count);
    margin-top: 5px;
    border-radius: 25px;
    padding: 6px 10px;
    border: 1px solid lightgray;
    background: #38afe5;
    float: left;
    color: #fff;
    font-size: 0.94rem;
    font-weight: 400;
}


/* ВЕРСТКА БЛОКА OFFER */

.list-offer {
    vertical-align: top;
    display: inline-block;
}

.list-offer>li {
    padding: 10px 0;
}

.list-offer>li::before {
    /* content: url("https://image.ibb.co/gx4kHb/Layer_Arrow.png"); */
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAp0lEQVQ4T2P8////fwYqAMahZ9Ds658ZGBkZGFI0ePEGAEGvdVz4wLDxwTeGZA1evIYRNAgUEx3nPzBseojfMIIGgfwDMqz9/AeGzXgMI8ogmGFt5z8wbMFhGIpBWUfe4A1QUIq7+PYX2IXoYUYbg/A5599/SDhteYQ90IkKI0KGgBxA0CBiDCFoEChQ287h9g5yUBB00Zwbn8HqKc4ixJYwBF1Ed4MALd6Zy2iNpr8AAAAASUVORK5CYII=");
    padding-right: 10px;
}


/* ВЕРСТКА БЛОКА TESTIMONIAL */

.offer>aside>h2 {
    margin-bottom: 20px;
}

.quote {
    box-sizing: border-box;
    padding: 20px 20px;
    background-color: #f2f0f0;
    border-radius: 10px;
    margin: 0 auto;
}

.triangle {
    width: 0;
    height: 0;
    margin: auto;
    border-style: solid;
    border-width: 32px 11px 0 11px;
    border-color: #f2f0f0 transparent transparent transparent;
}

.quote::before {
    content: "\201c";
    padding-right: 5px;
}

.quote::after {
    content: "\201d";
    padding-left: 5px;
}


/* RESPONSIVE LAYOUT ----------  */

@media screen and (max-width: 576px) {
    main {
        padding: 15px;
    }
    img {
        float: none;
        display: block;
        margin: auto;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    main {
        padding: 35px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    main {
        padding: 45px;
    }
}

@media screen and (min-width: 993px) {
    main {
        padding: 61px;
    }
}