* {
    margin: 0;
    padding: 0;
}

/* ------- GALLERY ------- */

main {
    margin: auto;
    padding: 0 0 80px;
    box-sizing: border-box;
    max-width: 1024px;
    background-color: white;
}

h2 {
    font-family: "Pathway Gothic One";
    text-transform: uppercase;
    padding: 60px 0 20px 60px;
}

.gallery {
    margin: auto;
    width: 87.890625%;
    height: auto;
    padding: 0;
}

.gallery div {
    width: 288px;
    height: 155px;
    margin-bottom: 40px;
}


/* Изображение линзы при ховер-эффекте */

.gallery .lens {
    display: none;
    width: 48px;
    height: 48px;
    background-image: url("https://image.ibb.co/iMGXxb/ic_zoom_in_white_48dp_1x.png");
}

.gallery a {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.gallery a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.gallery a:hover .lens {
    display: block;
    margin: 0;
}


/* Заполнение галереи рисунками */

.gallery .one {
    background: url("https://image.ibb.co/gCQ33G/Layer_87.jpg") no-repeat;
    background-size: 100% auto;
    background-clip: content-box;
}

.gallery .two {
    background: url("https://image.ibb.co/e21zcb/Layer_88.jpg") no-repeat;
    background-size: 100% auto;
    background-clip: content-box;
}

.gallery .three {
    background: url("https://image.ibb.co/efdO3G/Layer_89.jpg") no-repeat;
    background-size: 100% auto;
    background-clip: content-box;
}

.gallery .four {
    background: url("https://image.ibb.co/g71zcb/Layer_90.jpg") no-repeat;
    background-size: 100% auto;
    background-clip: content-box;
}

.gallery .five {
    background: url("https://image.ibb.co/jDyO3G/Layer_91.jpg") no-repeat;
    background-size: 100% auto;
    background-clip: content-box;
}

.gallery .six {
    background: url("https://image.ibb.co/heV33G/Layer_92.jpg") no-repeat;
    background-size: 100% auto;
    background-clip: content-box;
}

.gallery .seven {
    background: url("https://image.ibb.co/kdjViG/Layer_93.jpg") no-repeat;
    background-size: 100% auto;
    background-clip: content-box;
}

.gallery .eight {
    background: url("https://image.ibb.co/dT8ZAw/Layer_94.jpg") no-repeat;
    background-size: 100% auto;
    background-clip: content-box;
}

.gallery .nine {
    background: url("https://image.ibb.co/dy31qw/Layer_95.jpg") no-repeat;
    background-size: 100% auto;
    background-clip: content-box;
}


/* ---------- RESPONSIVE DESIGN ----------- */

@media screen and (min-width:768px) and (max-width:991px) {
    .nine {
        display: none;
    }
    .gallery div {
        width: 330px;
        height: 178px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .nine,
    .eight,
    .seven {
        display: none;
    }
    .gallery div {
        width: 410px;
        height: 221px;
    }
    .gallery {
        justify-content: center;
    }
}

@media screen and (max-width:575px) {
    .gallery div {
        width: 288px;
        height: 200px;
    }
    .gallery {
        justify-content: center;
    }
}