* {
    margin: 0;
    padding: 0;
}


/* ------- GALLERY ------- */

main {
    margin: auto;
    padding: 0 0 80px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1024px;
    background-color: white;
}

.gallery__title {
    font-family: "Pathway Gothic One";
    text-transform: uppercase;
    padding: 60px 0 20px 60px;
}

.gallery {
    margin: auto;
    width: 87.890625%;
    height: auto;
    padding: 0;
}

.imageBox {
    position: relative;
    width: 288px;
    height: 155px;
    margin-bottom: 40px;
}
.imageBox__thumb {
    width: 100%;
    height: auto;
}

.imageBox__zoomIcon {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

/* Изображение линзы при ховер-эффекте */
.imageBox:hover .imageBox__thumb {
    filter: grayscale(1) brightness(0.7);
}

.imageBox__ref:hover>.imageBox__zoomIcon {
    opacity: 1;
}


/* ---------- RESPONSIVE DESIGN ----------- */

@media screen and (min-width:768px) and (max-width:991px) {
    .imageBox--lastItem {
        display: none;
    }
    .imageBox {
        width: 330px;
        height: 178px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .imageBox--prelastItem,
    .imageBox--lastItem {
        display: none;
    }
    .imageBox {
        width: 410px;
        height: 225px;
    }

    .gallery {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media screen and (max-width:575px) {
    .imageBox {
        width: 288px;
        height: 225px;
    }
    .gallery {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}


/* ---------- MODAL FRAME FOR PREVIEW PICTURE ---------- */

.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .8);
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-img {
    /* display: block; */
    max-width: 100%;
}

.modal-preview {
    margin: auto;
    border: .1rem solid #666;
    box-shadow: 0 0 3rem rgba(0, 0, 0, .5);
    max-width: 1200px;
}

.modal-overlay:target {
    visibility: visible;
    opacity: 1;
}

.modal-cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}


/* -------- RETINA DISPLAYS ---------- */

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    /* Сугубо для домашней работы я все картинки заменяю на одну и ту же */
        .imageBox {
        background: url("https://image.ibb.co/muzqub/photo_prev_2x.jpg") no-repeat;
    }
}