* {
    margin: 0;
    padding: 0;
}


/* ------- GALLERY ------- */

main {
    display: flex;
    justify-content: center;
}

article {
    padding: 0 0 80px;
    width: 1024px;
    background-color: white;
}

article h2 {
    font-family: "Pathway Gothic One";
    text-transform: uppercase;
    padding: 60px 0 20px 60px;
}

.gallery {
    margin: auto;
    width: 900px;
    height: 545px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
}

.gallery div {
    width: 288px;
    height: 155px;
}


/* Изображение линзы при ховер-эффекте */

article .gallery .lens {
    display: none;
    width: 48px;
    height: 48px;
    background-image: url("https://image.ibb.co/iMGXxb/ic_zoom_in_white_48dp_1x.png");
}

.gallery a {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.gallery a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.gallery a:hover .lens {
    display: block;
}


/* Заполнение галереи рисунками */

.gallery .one {
    background: url("https://image.ibb.co/gCQ33G/Layer_87.jpg") no-repeat;
}

.gallery .two {
    background: url("https://image.ibb.co/e21zcb/Layer_88.jpg") no-repeat;
}

.gallery .three {
    background: url("https://image.ibb.co/efdO3G/Layer_89.jpg") no-repeat;
}

.gallery .four {
    background: url("https://image.ibb.co/g71zcb/Layer_90.jpg") no-repeat;
}

.gallery .five {
    background: url("https://image.ibb.co/jDyO3G/Layer_91.jpg") no-repeat;
}

.gallery .six {
    background: url("https://image.ibb.co/heV33G/Layer_92.jpg") no-repeat;
}

.gallery .seven {
    background: url("https://image.ibb.co/kdjViG/Layer_93.jpg") no-repeat;
}

.gallery .eight {
    background: url("https://image.ibb.co/dT8ZAw/Layer_94.jpg") no-repeat;
}

.gallery .nine {
    background: url("https://image.ibb.co/dy31qw/Layer_95.jpg") no-repeat;
}