body {
    background: url("https://image.ibb.co/nLh5Hb/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h2 {
    font-family: "Pathway Gothic One";
    text-transform: uppercase;
    font-size: 2.2rem;
    color: rgb(38, 53, 85);
    font-weight: 400;
}


/* --------- NAVIGATION MENU ------------ */

.menu {
    text-align: center;
    height: 138px;
    font-size: 0;
    padding: 40px 0;
}

.menu>li {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 138px;
    font-size: 1.5rem;
    font-family: "Pathway Gothic One";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    vertical-align: middle;
}

.menu a {
    display: block;
    box-sizing: border-box;
    padding-top: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
}

nav {
    max-height: 235px;
    max-width: 1024px;
    margin: 0 auto;
}


/* Работа HOVER для всех меню */

.menu a:hover {
    color: rgb(38, 53, 85);
}


/* РИСУЕМ КРУГ ЛОГОТИПА */

.menu .logo_box {
    width: 138px;
}

.menu .logo {
    border-radius: 50%;
    width: 138px;
    background-color: rgb(255, 255, 255);
}

.menu .logo a {
    font-size: 3.75rem;
    font-family: "Dorsa";
    color: rgb(38, 53, 85);
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 35px 0;
}

@keyframes rotateOut {
    0% {
        transform-origin: center;
        opacity: 1;
    }
    100% {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, 450deg);
        opacity: 0;
    }
}

.menu .logo:hover {
    animation-name: rotateOut;
    animation-duration: 2s;
}


/* ОТРАБОТКА САБМЕНЮ   */

.submenu {
    display: none;
    position: absolute;
    top: 83px;
    left: 20px;
    width: 66px;
    height: 90px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    list-style: none;
    z-index: 2;
}

.submenu a {
    padding: 7px 0 3px;
    font-size: 1rem;
    font-family: "Pathway Gothic One";
    color: rgb(107, 116, 136);
    text-transform: uppercase;
}

.menu_item:hover>.submenu {
    display: block;
}

.menu_item:hover>.submenu:before {
    content: "";
    display: block;
    position: absolute;
    top: -7px;
    left: 27px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 7px 6px;
    border-color: transparent transparent #ffffff transparent;
}


/* ============ F O O T E R =========== */


/* TO-TOP BUTTON */

.to-top {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 70px;
    background-color: #38afe5;
}

.to-top>a {
    display: block;
    height: 100%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAQAAABLCVATAAAAY0lEQVRIx+3QQQqAMAxE0QFBTy32SmrvNy4soYUubCLiYv428BgCKKV+EhPTOwzJMFWYKFUxEcqYzBygjDk5c3FTNQMATsqY42acVI9xUQXaW6ahtuebOoxR68iXpvGLUuqLLi3Ooo+05FA5AAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
}


/* ----------- LINKS RIBBON ----------- */

.ribbon {
    margin: 0 auto;
    max-width: 1024px;
    background-color: #30455b;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 130px;
    line-height: 1.5;
}

.ribbon ul li:first-child {
    padding-bottom: 10px;
}

.ribbon a {
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: "Pathway Gothic One";
    font-weight: 400;
}

.contacts h3,
.contacts p {
    color: white;
    margin: 0;
}

.contacts h3 {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: "Pathway Gothic One";
    font-weight: 400;
}

.contacts p {
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}


/* -----  SOCIAL BUTTONS  ------- */

.social {
    margin: 15px auto;
    max-width: 220px;
    display: flex;
    justify-content: space-between;
}

.social a {
    display: block;
    width: 40px;
    height: 40px;
    transition-duration: 0s;
    background: url('https://image.ibb.co/ciwTsb/sprite_social_buttons.png') no-repeat;
}

.social .facebook {
    background-position-x: 0px;
}

.social .gplus {
    background-position-x: -41px;
}

.social .in {
    background-position-x: -82px;
}

.social .tweeter {
    background-position-x: -122px;
}

.social a:hover {
    transition-duration: 0s;
    background-position-y: -40px;
}

.copyright {
    margin: 15px 0;
    text-align: center;
    font-size: 0.8rem;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    line-height: 1.5;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.2), /* наверх и влево */
    1px 1px 1px rgba(255, 255, 255, 0.2), /* вниз и вправо */
    1px 1px 1px rgba(0, 0, 0, 0.7);
    /* тёмная тень */
}


/* ---------- RESPONSIVE DESIGN ----------- */


/* == Navigation Menu == */

@media screen and (max-width:1023px) {
    .menu {
        margin: auto;
        padding: 0;
        width: 300px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .menu>li {
        height: 30px;
        margin-bottom: 20px;
    }
    .menu .logo_box {
        order: -3;
        width: 300px;
        height: 100px;
        /* margin-bottom: 20px; */
    }
    .menu .logo {
        margin: auto;
        height: 100px;
        width: 100px;
    }
    .menu .logo a {
        padding: 22px 0;
        font-size: 3rem;
    }
    .menu a {
        padding-top: 0;
    }
    .submenu {
        top: 30px;
        height: 64px;
    }
    .to-top {
        bottom: 10px;
        right: 10px;
    }
}


/* == Footer == */

@media screen and (max-width:767px) {
    .ribbon ul {
        min-width: 100px;
    }
    .ribbon ul li:first-child {
        padding-bottom: 0;
    }
    .contacts {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }
}