* {
    margin: 0;
    padding: 0;
}

main {
    box-sizing: border-box;
    width: 1024px;
    margin: 0 auto;
    padding: 55px 60px;
    background-color: rgb(255, 255, 255);
}

/*  SLIDER BLOCK */

.slider {
    width: 904px;
    height: 580px;
    margin: auto;
    background: url("https://image.ibb.co/gsRzcb/slider_1.png") no-repeat;
    font-family: "Pathway Gothic One";
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    position: relative;
}

.slogan-one {
    font-size: 1.5rem;
    color: rgb(38, 53, 85);
    width: 225px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    padding: 15px 10px 0;
}

.slogan-two {
    font-size: 2.25rem;
    color: rgb(255, 255, 255);
    width: 275px;
    height: 60px;
    background-color: rgb(56, 175, 229);
    padding: 15px 10px 0;
}

.slogan-one {
    position: absolute;
    top: 215px;
}

.slogan-two {
    position: absolute;
    top: 275px;
}

.slider-controls {
    border-radius: 50%;
    background-color: rgb(56, 175, 229);
    position: absolute;
    left: 35px;
    bottom: 40px;
    width: 90px;
    height: 90px;
}

.left-arrow {
    position: absolute;
    top: 27px;
    left: 7px;
    width: 32px;
    height: 32px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAQAAABLCVATAAAAX0lEQVRIx2NgGAXDEvxv+N9AHWNAoIE6xvz/v/E/M3WMYaOGMZsGlTGbh6MxW6hjzLf/baAUjR8SNoZIQHuDULzWToHX0AKbnVoZddSooW8UM3WMqqFOPVI/WikPTwAAOU5eZggsNt4AAAAASUVORK5CYII=);
    background-repeat: no-repeat;
}

.right-arrow {
    position: absolute;
    top: 27px;
    left: 48px;
    width: 32px;
    height: 32px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAQAAABLCVATAAAAXElEQVRIx+3QQQqAMAxE0YKCHju68kJWj+bui+LeSgcpIT/7B5OUIpcxYQpm5qqWomMFDTUoqeyd2hqkRvYiCnu9haOA4lv2A6SaJnt2ME6YXsLclEmYh1IwUYOd9flexNgPZDkAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
}

.slider-controls a {
    display: block;
    height: 100%;
    background-repeat: no-repeat;
}


/*  DESTINATION BLOCK */

.destinations {
    font-size: 0;
}

h2 {
    margin: 55px 0 50px;
}

.destinations h3 {
    font-family: "Pathway Gothic One";
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 0;
}

figure {
    width: 288px;
    height: 270px;
    display: inline-block;
    margin: 0px;
}

figure:hover>.shader {
    display: block;
}

.destin-1 {
    background: url("https://image.ibb.co/nC8O3G/venice.png") no-repeat;
}

.destin-2 {
    background: url("https://image.ibb.co/eDp7Vw/freedom.png") no-repeat;
    margin: 0 15px;
}

.destin-3 {
    background: url("https://image.ibb.co/m81AiG/paris.png") no-repeat;
}


/* Шторка под кнопкой details  */

.shader {
    display: none;
    position: absolute;
    width: 145px;
    height: 270px;
    background-color: #193149;
    color: rgb(203, 198, 198);
}

.shader>p {
    font-size: 0.6rem;
    font-family: "Arial";
    font-weight: 400;
    line-height: 1.5;
    text-align: justify;
    padding: 0 10px;
}


/* DETAILS BUTTON  */

.details {
    border: 1px solid #9f9696;
    border-radius: 5px;
    background-color: #fcf5f7;
    width: 60px;
    height: 20px;
    margin-left: auto;
    margin-right: 15px;
    margin-top: 20px;
    padding-top: 5px;
    text-align: center;
    font-size: 0.8rem;
    font-family: "Arial";
    font-weight: 400;
    color: #000000;
}

.details a {
    display: block;
    height: 100%;
    text-decoration: none;
    color: #000000;
}